{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container single-col-max-width">
			    <h2 class="heading text-center">Case Study: Voucher Highlight Test</h2>
			    <div class="project-intro text-center">
					<p class="mb-0 lead">Improving campaign performance by testing ways of highlighting the onsite voucher code.</p>
				</div>
			    
		    </div><!--//container-->
	    </section>
	    <section class="project px-3 py-5 p-md-5" style='padding-top: 0px !important;padding-bottom: 0px !important;'>
		    <div class="container">
				<div class="project-sections py-5">
					<div class="project-section mb-5">
					    <h3 class="project-section-title mb-3">Project Overview</h3>
					    <p>During campaing periods, Miinto is occassionaly running onsite voucher codes to boost the conversion rate and revenue stream. 
							By highlighting the onsite voucher code, the campaign performance can be optimized significantly.</p>
					</div><!--//project-section-->
					
					<div class="project-section mb-5">
					     <h3 class="project-section-title">The Challenge</h3>
					    <p>Typically, the onsite voucher code is displayed on the top streamer of the Miinto website.
							This placement is easily overlooked by the user, thus reducing the potential impact of the campaign.</p> 
					</div><!--//project-section-->
					
					<div class="project-section mb-5">
					     <h3 class="project-section-title">The Approach &amp; Solution</h3>
					    <p>In order to try improve campaign performance, I developed the following hyposthesis: <b>Highlighting the onsite voucher will drive a higher conversion rate</b>. 
							With a boost in conversion rate, the campaign GOV (the primary objective) will increase as well. 
							To test the hyposthesis, I developed two versions of test variants highlighting the onsite voucher: 
							<ol>
								<li>a variant with highlight of price reduction by applying the onsite voucher code at checkout (see image 1 below).</li>
								<li>a variant with a countdown feature which highlights when the onsite voucher code will expire (see image 2 below).</li>
							</ol>
							For the first variant, the test variant will display the realized voucher discount price clearly for the user - thus making the extra savings even clearer.
							For the second variant, the test variant will ignite a sense of urgency to make the user place an order before the deadline. 	
							For the control variant, the onsite voucher was only visible in the upper green bar above the navigation section.</p>
					    <div class="row mt-5">
						    <div class="col-12 col-lg-6 mb-5">
							    <img class="img-fluid rounded" src="{% static 'images/project/pic_voucher1.JPG' %}" alt="image">
						    </div>
						    <div class="col-12 col-lg-6 mb-5">
							    <img class="img-fluid rounded" src="{% static 'images/project/pic_voucher2.JPG' %}" alt="image">
						    </div>
					    </div>
						    
					    <p>The test was deployed to multiple markets and for several campaigns - for both desktop and mobile users.</p>
					     
					</div><!--//project-section-->
					
					<div class="project-section mb-5">
					     <h3 class="project-section-title mb-3">The Results</h3>
					     
					     <div class="metrics mb-4">
						     <div class="row">
							     <div class="metric col-6 col-xl-3 mb-3">
								     <div class="inner p-3 theme-bg-light">
									     <div class="metric-name">Volume</div>
									     <div class="metric-data mb-2">3.2M</div>
									     <div class="metric-desc">Sessions</div>
								     </div>
							     </div><!--//metric-->
							     <div class="metric col-6 col-xl-3 mb-3">
								     <div class="inner p-3 theme-bg-light">
									     <div class="metric-name">Conversion Rate</div>
									     <div class="metric-data mb-2">+18%</div>
									     <div class="metric-desc">Test Variant 1</div>
								     </div>
							     </div><!--//metric-->
							     <div class="metric col-6 col-xl-3 mb-3">
								     <div class="inner p-3 theme-bg-light">
									     <div class="metric-name">Conversion Rate</div>
									     <div class="metric-data mb-2">+14%</div>
									     <div class="metric-desc">Test Variant 2</div>
								     </div>
							     </div><!--//metric-->
							     <div class="metric col-6 col-xl-3 mb-3">
								     <div class="inner p-3 theme-bg-light">
									     <div class="metric-name">GOV Boost</div>
									     <div class="metric-data mb-2">+9%</div>
									     <div class="metric-desc">Uplift During Test</div>
								     </div>
							     </div><!--//metric-->
						     </div><!--//row-->
					     </div><!--//metrics-->
					     
					    <p>During the campaign periods, the test variants performed significantly better than the original setup. 
							The price update variant did 14% better and the countdown variant 18% better on conversion rate compared to the control version.
						Running these tests proved highly effective and boosted the GOV by an estimated 9% during the test period alone. As a result, these highlights methods can be deployed during future campaigns to optimize performance significantly.</p>
					     
					</div><!--//project-section-->
					
					
				</div>
		    </div>
	    </section>
	    
	    <section class="promo-section theme-bg-light py-5 text-center" style='margin-bottom:0px !important;'>
		    <div class="container single-col-max-width">
				<h2 class="title">Want to connect?</h2>
			    <p>Please feel free to reach out, if you are interested in knowing more about me and my projects or want to connect and hear how I might help your organization.</p>                
				<div class="text-center"><a class="btn btn-primary" href="/contact" target="_blank"><i class="fas fa-paper-plane me-2"></i>Contact Me</a></div>
		    </div><!--//container-->
	    </section><!--//promo-section-->

    </div><!--//main-wrapper-->

{% endblock content %}
