{% extends 'base.html' %}

{% load static %}

{% block content %}
    
    <div class="main-wrapper">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container single-col-max-width">
			    <header class="blog-post-header">
					
				    <h2 class="title mb-2">{{ post.title }}</h2>
				    <div class="meta mb-3"><span class="date">{{ post.timestamp|date }} </span><span class="time">{{post.get_readtime}} read</span>
					{% for cat in post.categories.all %} 
						<span class="time">{{cat}}</span>
					{% endfor %}
					</div>
					<p style="font-size:18px;">{{post.overview}}</p>
					<figure class="blog-banner">
				        <img class="img-fluid" src="{{ post.thumbnail.url }}" alt="image">
				        <!-- <figcaption class="mt-2 text-center image-caption"></figcaption> -->
				    </figure>
					
			    </header>
			    
			    <div class="blog-post-body">
				    {{post.content | safe}}
			    </div>
				    
			    <!-- <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				  <a class="nav-link-next nav-item nav-link rounded-right" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav> -->
				
				
				
		    </div><!--//container-->
	    </article>
	    

		<section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h4 class="heading">Want more?</h4>
			    <div class="intro" style='padding-left:5%;padding-right:5%;'> 
									<div class="intro" id="subscribetext"> Subscribe to get my latest posts in your inbox.</div></div>
			    <div class="single-form-max-width pt-3 mx-auto">
				    <form action='' method='POST' class="signup-form row g-2 g-lg-2 align-items-center">
						{% csrf_token %}
						{% if messages %}
							<div class="messages">
								{% for message in messages %}
								<span  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </span>
								{% endfor %}
							</div>
						{% else %}
	                    <div class="col-12 col-md-9">
	                        <label class="sr-only" for="semail">Your email</label>
	                        <input type="email" id="semail" name="email" class="form-control me-md-1 semail" placeholder="Enter email" required> 
	                     </div>
	                    <div class="col-12 col-md-2">
	                        <button type="submit" class="btn btn-primary">Subscribe</button>
	                    </div>
						{% endif %}
	                </form><!--//signup-form-->
			    </div><!--//single-form-max-width-->
		    </div><!--//container-->
	    </section>

	    
	    {% comment %} <footer class="footer text-center py-4">
					<small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
				</footer> {% endcomment %}
    </div><!--//main-wrapper-->

{% endblock content %}
