{% load static %}
<head>
	<title>Buhlian - Kristian Buhl Jørgensen</title>
	
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KC28K73');</script>
	<!-- End Google Tag Manager -->

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Buhlian - Data Science, Web Development and more.">
	<meta name="author" content="Kristian Jørgensen">    
	<!-- <link rel="shortcut icon" href="favicon.ico">  -->
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	
	<!-- FontAwesome JS -->
    <script defer src="{% static '/fontawesome/js/all.js' %}"></script>
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static '/plugins/tiny-slider/tiny-slider.css' %}">

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static '/css/theme-1.css' %}">

	<!-- TinyMCE css -->
    <link href="{% static 'css/github.css' %}" rel="stylesheet">
</head> 


