{% load static %}
 <header class="header text-center">	    
    <div class="force-overflow">
        <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="/">Buhlian</a></h1>
        
        <nav class="navbar navbar-expand-lg navbar-dark" >
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div id="navigation" class="collapse navbar-collapse flex-column" >
                <div class="profile-section pt-3 pt-lg-0">
                    <a href="/"><img class="profile-image mb-3 rounded-circle mx-auto" src="{% static '/images/linkedin_picture.JPG' %}" alt="image" ></a>			
                    
                    <div class="bio mb-3">Hi, my name is Kristian Buhl and I'm a CRO specialist & data analyst. Welcome to my personal website!</div><!--//bio-->
                    <ul class="social-list list-inline py-2 mx-auto">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/kristianj%C3%B8rgensen/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://medium.com/@kristian2890"><i class="fab fa-medium fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/KristianJrgens"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/kristian2890"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        {% comment %} <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li> {% endcomment %}
                    </ul><!--//social-list-->
                    <hr> 
                </div><!--//profile-section-->
                
                <ul class="navbar-nav flex-column text-start">
                    <li class="nav-item">
                        {% if destination == 'about'%}
                        <a class="nav-link active" href="/"><i class="fas fa-user fa-fw me-2"></i>Home<span class="sr-only">(current)</span></a>
                        {% else %}
                        <a class="nav-link" href="/"><i class="fas fa-user fa-fw me-2"></i>Home</a>
                        {% endif%}
                    </li>
                    <li class="nav-item">
                        {% if destination == 'blog'%}
                        <a class="nav-link active" href="/bloghome"><i class="fas fa-blog fa-fw me-2"></i>Blog<span class="sr-only">(current)</span></a>
                        {% else %}
                        <a class="nav-link" href="/bloghome"><i class="fas fa-blog fa-fw me-2"></i>Blog</a>
                        {% endif%}
                    </li>
                    <li class="nav-item">
                        {% if destination == 'portfolio'%}
                        <a class="nav-link active" href="/portfolio"><i class="fas fa-laptop-code fa-fw me-2"></i>Portfolio<span class="sr-only">(current)</span></a>
                        {% else %}
                        <a class="nav-link" href="/portfolio"><i class="fas fa-laptop-code fa-fw me-2"></i>Portfolio</a>
                        {% endif%}
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="services.html"><i class="fas fa-briefcase fa-fw me-2"></i>Services &amp; Pricing</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        {% if destination == 'resume'%}
                        <a class="nav-link active" href="/resume"><i class="fas fa-file-alt fa-fw me-2"></i>Resume<span class="sr-only">(current)</span></a>
                        {% else %}
                        <a class="nav-link" href="/resume"><i class="fas fa-file-alt fa-fw me-2"></i>Resume</a>
                        {% endif%}
                    </li>
                    <li class="nav-item">
                        {% if destination == 'contact'%}
                        <a class="nav-link active" href="/contact"><i class="fas fa-envelope-open-text fa-fw me-2"></i>Contact<span class="sr-only">(current)</span></a>
                        {% else %}
                        <a class="nav-link" href="/contact"><i class="fas fa-envelope-open-text fa-fw me-2"></i>Contact</a>
                        {% endif%}
                    </li>
                    {% comment %} <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-cogs fa-fw me-2"></i>More Pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="project.html">Project Page</a></li>
                            <li><a class="dropdown-item" href="blog-home.html">Blog Home 1</a></li>
                            <li><a class="dropdown-item" href="blog-home-alt.html">Blog Home 2</a></li>
                            <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                        </ul>
                    </li> {% endcomment %}
                </ul>
                
                {% comment %} <div class="my-2">
                    <a class="btn btn-primary" href="contact.html" target="_blank"><i class="fas fa-paper-plane me-2"></i>Hire Me</a>
                </div> {% endcomment %}
                

                {% comment %} <div class="dark-mode-toggle text-center w-100">
                    <hr class="mb-4">
                    <h4 class="toggle-name mb-3 "><i class="fas fa-adjust me-1"></i>Dark Mode</h4>
                    
                    <input class="toggle" id="darkmode" type="checkbox">
                    <label class="toggle-btn mx-auto mb-0" for="darkmode"></label>
                    
                </div><!--//dark-mode-toggle--> {% endcomment %}
            </div>
        </nav>
    </div><!--//force-overflow-->
</header>


