
{% extends 'base.html' %}

{% load static %}

{% block content %}
	
	<div class="main-wrapper">
		<section class="cta-section theme-bg-light py-5">
			<div class="container text-center single-col-max-width">
				<h2 class="heading mb-3">Online Resume</h2>
				<div class="bio mb-4">I'm a data analyst specialised in machine learning and A/B tests for optimizing data-driven decision making. Below you can see my professional resume.
					In addition, I write about data science, web development etc. on <a class="text-link" href="/bloghome">my blog</a>. Want to know more about me and my work? 
					Check out my project <a class="text-link" href="projects.html">portfolio</a> or <a class="text-link" href="/contact">contact/connect with me</a>.
				</div><!--//bio-->
				<div class="mb-4">
					<a class="btn btn-primary me-2 mb-3" href="/portfolio"><i class="fas fa-arrow-alt-circle-right me-2"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
					<a class="btn btn-secondary mb-3" href="/bloghome"><i class="fas fa-file-alt me-2"></i><span class="d-none d-md-inline">View</span> Blog</a>
				</div>				
			</div><!--//container-->
		</section>
		<div class="container resume-container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				
				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="resume-name mb-0 text-uppercase" style='font-size:36px'>Kristian Buhl Jørgensen</h2>
							<div class="resume-tagline mb-3 mb-md-0">Data Enthusiast, Decision Optimizer</div>
						</div><!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:#">+45 52 11 28 90</a></li>
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="mailto:#">kristian2890@gmail.com</a></li>
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="/">buhlian.dk</a></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>Copenhagen, Denmark</li>
							</ul>
						</div><!--//resume-contact-->
					</div><!--//row-->
					
				</div><!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="row align-items-center">
						<div class="col-12 col-md-3 col-xl-2 text-center">
						    <img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto" src="{% static '/images/linkedin_picture.JPG' %}" alt="image">
						</div>
						
						<div class="col text-start">
							<p class="mb-0">
								Passionate and ambitious data analyst with complete experience throughout the entire analysis-process and with a wide variety of analysis-projects. 
								Efficient at processing and modeling data, identifying patterns, and communicating insights to <b>support decision-making and optimize performance</b>.
								My main focus areas are: <b>Data Science</b>, <b>CRO</b> & <b>Web Analytics</b>.
								<br>
								In my work, I am responsible for my own projects – from project definition & management to data analysis & modeling/ programming as well as communication of key learnings. 
								As a result, I am used to <b>work in the crossroads between data and business and understands how to integrate the two </b> – 
								i.e. I can both be the specialist and the generalist in the work with different data analyses and customer/business insight projects. 
							</p>
						</div><!--//col-->
					</div>
				</div><!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Conversion Rate Optimization & Web Analytics Lead</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">Miinto | 2020 - Present</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Creator and Lead of the optimization track, in which I have executed +120 A/B tests and created +20 business cases with focus on optimizing GOV, CR, UX and/or NPS.</li>
											<li>Driving data-driven decision-making to optimize marketing performance via fx:</li>
												<ul class="resume-list">
													<li>CAC vs CLV model to adjust digital marketing spend across markets while respecting profitability.</li>
													<li>NPS driver & lifetime model supporting a NPS uplift of +37% during my tenure.</li>
												</ul>
											<li>Building data foundation for measuring user journeys and drive insights for decision making + for identifying CRO & UX pain points to drive new A/B tests/business cases.</li>
											<li>Responsible for global technical web and server-side tracking and tagging setup (GA, GTM, GBQ)</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Reporting & Analytics Consultant</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">Dentsu X | 2019 - 2020</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Data processing and analysis from different data sources (especially digital behavioural as well as economic data) with the purpose of driving insights and optimizing the client’s business and the customer experience.</li>
											<li>Technical setup of website tracking in GTM and GA + A/B-testing in Google Optimize.</li>
											<li>Development/validation/maintenance of dashboards (Google Sheet/Data Studio).</li>
											<li>Innovation of new analysis and insight offerings – with online as well as offline data.</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Business Analyst</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">YouSee | 2018 - 2019</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Responsible for driving and supporting a holistic understanding of the customer experience through quantitative and qualitative data – fx by single-handedly identifying, mapping & prioritizing CSAT-drivers in different customer journeys and by rethinking the analysis and reporting setup.</li>
											<li>The key driving force in the development of the strategic foundation of Customer Analytics’ function in the organisation as well as for recruiting new team members.</li>
											<li>Key role in determining customer experience targets and estimating/simulating the expected consequence/effect of different business initiatives.</li>
											<li>Main driver in automating the manual reporting setup through Power BI, SQL, SAS.</li>
											<li>Data extraction and handling of big data sets from SAS- and SQL-servers.</li>
										</ul>									
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Strategy & Research Manager</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">Publicis Media | 2016 - 2018</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Key role in the development of the Strategy & Research department's success and important contributor to the agency's overall progression.</li>
											<li>Responsible for own clients, whom I established close relations with and helped develop their businesses through insights and strategy work.</li>
											<li>Important part of the development of integration between different data types in new analyses fx by integrating survey data and digital behavioral data.</li>
											<li>Co-responsible for expanding the research department's product portfolio by including data modeling (MMM, POEM, MTA etc.) and dashboard-solutions.</li>
											<li>Continuous deep dives into new consumer and marketing trends used in inspirational seminars, pitches and strategy workshops.</li>
										</ul>										
									</div>
								</div><!--//item-->
								
								
							</section><!--//work-section-->

							
							<section class="project-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Social Data Science</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">KU - Summer School | 2017</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Experience with programming & data analysis in Python.</li>
											<li>Competencies in online data collection (scraping & API).</li>
											<li>Understanding and Application of Machine Learning Models.</li>										
										</ul>
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Applied Statistics in Business & Economics</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">CBS - Summer School | 2016</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Theoretical understanding and practical competencies in statistical analysis of business data (from basic descriptive statistics to multivariate statistical analyses).</li>									
										</ul>
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Master in Film & Media Studies</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">KU | 2010-2016</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Specialization in Crossmedia Communication with a thesis about digital transformation – i.e. how companies can use digital media for business development.</li>
											<li>Profile in Crossmedia Communication with a thesis about digital transformation – i.e. how companies can use digital media for business development.</li>
											<li>Practical application of several different methods incl surveys, interviews and focus groups as well as neuromarketing methods (Eye-Tracking & EEG).</li>										
										</ul>
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">MOOCS</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">Coursera, Udemy, etc.</div>
										
									</div>
									<div class="item-content">
										<ul class="resume-list">
											<li>Deep Learning Specialization, deeplearning.ai (Coursera, 2021).</li>
											<li>Server-side Tagging in Google Tag Manager (Team Simmer, 2021).</li>
											<li>IBM Data Science Specialization (Coursera, 2020).</li>
											<li>SQL for Data Science, University of California (Coursera, 2020).</li>
											<li>PowerBI Master Class (Udemy, 2020).</li>
										</ul>
									</div>
								</div><!--//item-->
							</section><!--//project-section-->	
						</div><!--//resume-main-->
						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
								<div class="item">
									<h4 class="item-title">Technical</h4>
									<ul class="list-unstyled resume-skills-list">
										<li class="mb-2">Data Science</li>
										<li class="mb-2">Machine Learning</li>
										<li class="mb-2">Python<li></li>
										<li class="mb-2">SQL, Bigquery<li></li>
										<li class="mb-2">PowerBI, Dax<li></li>
										<li class="mb-2">GA, GTM, Optimize</li>
										<li class="mb-2">JavaScript/HTML/CSS</li>
										<li class="mb-2">Django, Flask<li>
										<li class="mb-2">Git, GitHub<li>	
										<li class="mb-2">Docker</li>
										</ul>
									</div><!--//item-->
									<div class="item">
										<h4 class="item-title">Professional</h4>
										<ul class="list-unstyled resume-skills-list">
											<li class="mb-2">Data-driven</li>
											<li class="mb-2">Strong problem solver</li>
											<li class="mb-2">Curious, quick-learner</li>
											<li class="mb-2">"Can do"-attitude</li>
											<li class="mb-2">Helpful team player<li>
											<li class="mb-2">Ambitious & disciplined</li>
											</ul>
										</div><!--//item-->
									</section><!--//skills-section-->
									<section class="education-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
										<ul class="list-unstyled resume-education-list">
											<li class="mb-3">
												<div class="resume-degree-org text-muted">My own Django blog and portfolio website</div>
												<div class="resume-degree-time text-muted"><a href="https://www.buhlian.dk">buhlian.dk</a></div>
											</li>
											<!-- <li>
												<div class="resume-degree-org text-muted">Imperial College London</div>
												<div class="resume-degree-time text-muted">2007 - 2010</div>
											</li> -->
										</ul>
									</section><!--//education-section-->
									<!-- <section class="education-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
										<ul class="list-unstyled resume-awards-list">
											<li class="mb-3">
												<div class="font-weight-bold">Award Lorem Ipsum</div>
												<div class="text-muted">Microsoft lorem ipsum (2019)</div>
											</li>
											<li>
												<div class="font-weight-bold">Award Donec Sodales</div>
												<div class="text-muted">Oracle Aenean (2017)</div>
											</li>
										</ul>
									</section>//education-section -->
									<section class="skills-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
										<ul class="list-unstyled resume-lang-list">
											<li class="mb-2">Danish <span class="text-muted">(Native)</span></li>
											<li>English <span class="text-muted">(Fluent)</span></li>
										</ul>
									</section><!--//certificates-section-->
									<section class="skills-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
										<ul class="list-unstyled resume-interests-list mb-0">
											<li class="mb-2">Data Science</li>
											<li class="mb-2">Programming</li>
											<li class="mb-2">Sport (NBA, PL, Cycling)</li>
											<li class="mb-2">Travelling</li>
											<li class="mb-2">Running</li>
										</ul>
									</section><!--//certificates-section-->
									
								</aside><!--//resume-aside-->
							</div><!--//row-->
						</div><!--//resume-body-->
						<hr>
						<div class="resume-footer text-center">
							<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
								<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://www.linkedin.com/in/kristianj%C3%B8rgensen/"><i class="fab fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/kristianjørgensen</span></a></li>
								<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://github.com/kristian2890"><i class="fab fa-github-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/kristian2890</span></a></li>
								<li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="https://twitter.com/KristianJrgens"><i class="fab fa-twitter-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@KristianJrgens</span></a></li>
								<li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="https://medium.com/@kristian2890"><i class="fab fa-medium fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@kristian2890</span></a></li>
							</ul>
						</div><!--//resume-footer-->
					</article>
					
				</div><!--//container-->

				{% comment %} <footer class="footer text-center py-4">
					<small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
				</footer> {% endcomment %}

			</div><!--//main-wrapper-->  
			


{% endblock content %}

